@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Baloo+Tammudu+2:wght@500&display=swap');

/* Landing Page */


/* Navbar style */

.navbar {
    font-family: 'Baloo 2', cursive;
    font-weight: bolder;
    position: absolute;
    margin-top: 30px;
    margin-right: 20px;
}

.navbar a{
    font-size: 20px;
}


.offcanvas-body li {
    margin-bottom: 20px;
}
.offcanvas-body button {
    background-color: gray;
    color: black;
    width:100%;
    border: none;
    
}

.navbar-toggler:hover{
    background: white;
}



.offcanvas-body button:hover {
    background-color: purple;
}


#section1{
    background-color: white
}









/* end Navbar Style */


/* jumbotron */

.desc h2{
    padding-top: 70px;
    font-family: 'Baloo 2', cursive;
    font-weight: bolder;
    color: white;
    
}


/* .jumbotron {
    background-image: url("/assets/background.png");
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    margin-top: 20px;
    z-index: -1;
    border-radius: 20px;
    border: 5px solid #555;
   
} */

body {
    background: url('/assets/background.png') no-repeat center;
    background-size: cover;
    font-family: 'Baloo 2', cursive;
    height: 100vh;
    border: 20px solid rgb(255, 255, 255);
    overflow: hidden;
 }

.judul{
    font-family: 'Baloo 2', cursive;
    font-weight: bolder;
    position: relative;
    margin-top: -180px;
    margin-bottom: 15px;
}

#brand{
    background-color: white;
    border-radius: 20px;
    max-width: 200px;
}


/* end jumbotron */
/* End Landing Page */


/* Cyber Security Page*/
.desc1{
    padding-top: 70px;
    font-family: 'Baloo 2', cursive;
    font-weight: bolder;
    color: white;
    
}

.desc2{
    font-family: 'Baloo 2', cursive;
    font-weight: bolder;
    color: white;
    margin-top: 40px;
    font-size: 60px;
}

.cyber-desc{
    margin-top: 200px;
    font-family: 'Baloo 2', cursive;
    color: white;
}

.btn-danger{
    width: 170px;
    height: 70px;
    font-family: 'Baloo 2', cursive; 
}
/* Cyber Security Page */


/* list content */
.list{
    margin-top: 30px;

}

#list img{
    width: 130px;
}

#list img:hover{
    -webkit-transform: scale(1.1);
	        transform: scale(1.1);
         
    
}

/* List content */


.dwm{
    padding-top: 80px;
    font-family: 'Baloo 2', cursive;
    
}

.dwm .card{
    background-color: blueviolet;
    border-radius: 20px;
    height: 200px;
    padding-top: 50px;
}

.detail img{
    margin-top: 10px;
}

.detail p{
    font-family: 'Baloo 2', cursive;
}
.detail h5{
    font-family: 'Baloo 2', cursive;
}









/* Media screen */

@media only screen and (max-device-width: 768px) and (orientation:portrait) {
    /* .jumbotron {
        background-size: auto 100%;
        background-position: center;
        height: 95vh;
        width: 98%;

    } */

    .desc1{
        padding-top: 40px;
        font-family: 'Baloo 2', cursive;
        font-weight: bolder;
        color: white;
        
    }
    
    .desc2{
        font-family: 'Baloo 2', cursive;
        font-weight: bolder;
        color: white;
        margin-top: 40px;
        font-size: 40px;
    }
    .cyber-desc{
        font-size: 14px;
    }
    .btn-danger{
        width: 140px;
        height: 40px;
        font-family: 'Baloo 2', cursive; 
    }
    .navbar {
        font-family: 'Baloo 2', cursive;
        font-weight: bolder;
        position: absolute;
        margin-top: 30px;
        margin-right: 5px;
    }

    #list img{
        width: 130px;
    }
  
   
}